<%- include('../layout/header.ejs') %>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('../layout/sidebar.ejs') %>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="py-3 mb-4"><span class="text-muted fw-light">intro /</span> Edit intro</h4>
                                <div class="card mb-4">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        <div class="card-body">
                                            <% if(typeof message !== 'undefined'){ %>
                                                <div class="alert alert-primary alert-dismissible" role="alert"><%= message %>
                                                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                             <% } %>
                                             <% if(flash.error.length> 0){ %>
                                                <div class="alert alert-danger alert-dismissible" role="alert">
                                                    <%= flash.error %>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            <% } %>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row mb-3">
                                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Title</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group input-group-merge">
                                                                <input type="text" class="form-control" name="title" value="<%=intro.title %>" placeholder="Enter Title"  pattern="^[A-Za-z0-9 ]+$" required/>
                                                                <input type="hidden" name="id" value="<%= intro._id %>" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Preview Image</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group input-group-merge">
                                                                <span class="md-img mb-3"><img src="./assets/userImages/<%= intro.image %>" alt="Avatar"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Image</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                                                    <i class="bx bx-image"></i>
                                                                </span>
                                                                <input type="file" id="upload" name="image" class="form-control" accept="image/png, image/jpeg,image/jpg"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <label class="col-form-label"for="basic-icon-default-fullname">Description</label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div id="description"><%- intro.description %></div>
                                                            <input name="description" type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2 mt-2"></div>
                                                    <div class="col-sm-10 mt-5">
                                                        <button type="submit" class="btn btn-primary" onclick="myFunction();">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
            <%- include('../layout/footer.ejs') %>