<%- include('../layout/header.ejs') %>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('../layout/sidebar.ejs') %>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="py-3 mb-4">
                                        <span class="text-muted fw-light">Questions /</span> View Questions
                                    </h4>
                                    <div class="btnwrap mb-4">
                                        <a href="/bulk-import-questions" class="btn me-2" style="background-color: #e72b55; color: white;"><i class='bx bx-import'></i> Bulk Import</a>
                                        <a href="/add-questions" class="btn btn-primary"><i class='bx bx-plus'></i>Add New Questions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">Filter</h5>
                                        <div class="d-flex align-items-center row py-3 gap-3 gap-md-0">
                                            <div class="col-md-4 quiz_name">
                                                <select id="QuizName" class="form-select text-capitalize">
                                                    <option value="">Select Quiz</option>
                                                    <% if(quiz.length > 0) { %>
                                                        <option value="all">All</option>
                                                        <% quiz.forEach(function(quizData){ %>
                                                            <option value="<%= quizData._id %>"><%= quizData.name %></option>
                                                        <% }); %>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="col-md-4 question_type">
                                                <select id="QuestionType" class="form-select text-capitalize">
                                                    <option value="all">All</option>
                                                    <option value="text_only">Text Only</option>
                                                    <option value="true_false">True or False</option>
                                                    <option value="images">Images</option>
                                                    <option value="audio">Audio</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="questionslist-table">
                                                <thead>
                                                    <tr>
                                                        <th class="sr-width">Sr No</th>
                                                        <th class="title-width">Question Title</th>
                                                        <th class="option-width">Options</th>
                                                        <th>Question Type</th>
                                                        <th class="quiz-width">Quiz Name</th>
                                                        <th>Is Enable</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let cnt=1 %>
                                                    <% questions.forEach(function(questionsData){ %>
                                                        <tr>
                                                            <td><%= //cnt++ %></td>
                                                            <td>
                                                                <%= questionsData.question_title %>
                                                            </td>
                                                            <td>
                                                                <% if(questionsData.question_type == "text_only"){ %>

                                                                    [<%= questionsData.option.a %>, <%= questionsData.option.b %>, <%= questionsData.option.c %>, <%= questionsData.option.d %>]

                                                                <% } else if(questionsData.question_type == "true_false"){ %>

                                                                    <%= questionsData.answer %>

                                                            <%  } else {%>

                                                                    [<%= questionsData.option.a %>, <%= questionsData.option.b %>, <%= questionsData.option.c %>, <%= questionsData.option.d %>]

                                                                <%  } %>
                                                            </td>
                                                            <td>
                                                                <%= questionsData.question_type %>
                                                            </td>
                                                            <td style="width:200px">
                                                                <span class="badge bg-label-primary"><%= questionsData.quizId.name %></span>
                                                            </td>
                                                            
                                                            <% for (let i in loginData) { 

                                                                if(String(loginData[i]._id) === locals.user.id) {  %>

                                                                    <% if(loginData[i].is_admin === 1) { %>

                                                                        <td class="pe-0">
                                                                            <form action="/questions-is-active/<%= questionsData._id %>/toggle" id="featureForm" method="POST">
                                                                                <a id="toggleButton" >
                                                                                    <div class="form-check form-switch mb-0">
                                                                                        <input type="hidden" name="title" value="this question"/>
                                                                                        <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchCheckDefault" <% if(questionsData.is_active == 1) { %> checked <% }else{} %>>
                                                                                    </div>
                                                                                </a>
                                                                            </form>                   
                                                                        </td>

                                                                        <td>
                                                                            <a class="text-success me-2" href="/edit-questions?id=<%= questionsData._id %>"><i class="me-2 bx bx-edit-alt"></i></a>
                                                                            <a class="text-danger me-2" href="/delete-questions?id=<%= questionsData._id %>" onclick="return confirm('Are you sure want to delete this questions?' )"><i class="bx bx-trash me-2"></i></a>
                                                                        </td>
                                                                    
                                                                <% } else if (loginData[i].is_admin === 0) { %>

                                                                    <td class="ps-5 pt-5">
                                                                        <div class="form-check form-switch mb-0" onclick="alert('You have no access to change status..!!')">
                                                                            <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchCheckDefault"  <% if(questionsData.is_active==1) { %> checked <% }else{} %>disabled>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <a class="text-success me-2" href="/edit-questions?id=<%= questionsData._id %>"><i class="me-2 bx bx-edit-alt me-"></i></a>
                                                                        <a class="text-danger me-2" href="" onclick="return alert('You have no access to delete this questions.')"><i class="bx bx-trash me-2"></i></a>
                                                                    </td>
                                                                    
                                                                <% } %>
                                                            <%  } 
                                                        } 
                                                    }); %>
                                                </tr>
                                            <tbody>
                                        <table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="/assets/js/statusEnable.js"></script>
<%- include('../layout/footer.ejs') %>