<%- include('../layout/header.ejs') %>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('../layout/sidebar.ejs') %>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="py-3 mb-4"> <span class="text-muted fw-light">Plan /</span> View Plan</h4>
                                    <div class="btnwrap mb-4">
                                        <a href="/add-plan" class="btn btn-primary"><i class='bx bx-plus'></i> Add New Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="list-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr No</th>
                                                        <th>Title</th>

                                                        <th>Points</th>
                                                        <th>Point's Prices</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let cnt=1 %>
                                                    <% plan.forEach(function(allPlan){ %>
                                                        <tr>
                                                            <td><%= cnt++ %></td>
                                                            <td>
                                                                <strong> <%= allPlan.title %></strong>
                                                            </td>
                                                            <td>
                                                                <strong> <%= allPlan.points %></strong>
                                                            </td>
                                                            <td>
                                                                <strong> <%= allPlan.price %></strong>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex gap-3">
                                                                    <% for (let i in loginData) {
                                                                        if (String(loginData[i]._id) === locals.user.id) {
                                                                            if (loginData[i].is_admin == 1) { %>
                                                                                    <a href="/edit-plan?id=<%= allPlan._id %>" class="text-success me-3">
                                                                                        <i class="bx bx-edit-alt"></i></a>
                                                                                    <a href="/delete-plan?id=<%= allPlan._id %>" 
                                                                                    onclick="return confirm('Are you sure want to delete this <%= allPlan.title %> ?' )" class="text-danger me-3">
                                                                                    <i class="bx bx-trash"></i></a>
                                                                                <% } else if (loginData[i].is_admin == 0) { %>
                                                                                    <a href="/edit-plan?id=<%= allPlan._id %>" class="text-success me-3">
                                                                                    <i class="bx bx-edit-alt"></i></a>
                                                                                    <a href="" 
                                                                                    onclick="return alert('You have no access to delete <%= allPlan.title %>.' )" class="text-danger me-3">
                                                                                    <i class="bx bx-trash"></i></a>
                                                                        <%  }  }  }%> 
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            <%- include('../layout/footer.ejs') %>